<md-bottom-sheet class="md-list md-has-header">
  <md-subheader>Capítulos</md-subheader>

    <md-list-item ng-click="playVideo('#/home')">
      <ng-md-icon icon="play_arrow" style="fill: #747474" size="20"></ng-md-icon> 
      <md-icon md-svg-icon="cached"></md-icon>
      <p>Introducción a Álgebra 2</p>
      <span class="md-secondary">18:29 min</span>
    </md-list-item>

    <md-divider></md-divider>
    
    <md-list-item ng-click="navigateTo('data usage', $event)">
      <ng-md-icon icon="play_arrow" style="fill: #747474" size="20"></ng-md-icon> 
      <md-icon md-svg-icon="cached"></md-icon>
      <p>Matrices y Determinantes</p>
      <span class="md-secondary">22:12 min</span>
    </md-list-item>

    <md-divider></md-divider>

    <md-list-item ng-click="navigateTo('data usage', $event)">
      <ng-md-icon icon="play_arrow" style="fill: #747474" size="20"></ng-md-icon> 
      <md-icon md-svg-icon="cached"></md-icon>
      <p>Sistema de Ecuaciones Lineales</p>
      <span class="md-secondary">32:10 min</span>
    </md-list-item>

    <md-divider></md-divider>

    <md-list-item ng-click="navigateTo('data usage', $event)">
      <ng-md-icon icon="play_arrow" style="fill: #747474" size="20"></ng-md-icon> 
      <md-icon md-svg-icon="cached"></md-icon>
      <p>Espacios Vectoriales</p>
      <span class="md-secondary">21:06 min</span>
    </md-list-item>

    <md-divider></md-divider>

    <md-list-item ng-click="navigateTo('data usage', $event)">
      <ng-md-icon icon="play_arrow" style="fill: #747474" size="20"></ng-md-icon> 
      <md-icon md-svg-icon="cached"></md-icon>
      <p>Transformaciones Lineales</p>
      <span class="md-secondary">34:54 min</span>
    </md-list-item>

    <md-divider></md-divider>

    <md-list-item ng-click="navigateTo('data usage', $event)">
      <ng-md-icon icon="play_arrow" style="fill: #747474" size="20"></ng-md-icon> 
      <md-icon md-svg-icon="cached"></md-icon>
      <p>La Matriz de una Transformación Lineal</p>
      <span class="md-secondary">04:00 min</span>
    </md-list-item>

</md-bottom-sheet>