<div ng-hide="share" class="tabsdemoDynamicHeight">
  <div id="markup">
      <div id="clon" class="resize-drag" style="position: absolute; left: 0; right: 0; top: 65px; z-index: 19;">
        <img id="arrow" ng-src="server/uploads/{{fotoJugador.photoName}}" style="" />
      </div>
      <div id="clon" class="resize-drag" style="-webkit-box-shadow: 0 0 1px 0 #0055FF; box-shadow: 0 0 1px 0 #0055FF; position: absolute; left: 0; right: 0; top: 65px; z-index: 23;">
        <img id="arrow" class="clon-hidden" ng-src="server/uploads/{{fotoJugador.photoName}}" style="" />
      </div>
      <img src="resources/img/el-pitbull.png" width="100%" style="position:relative; z-index: 20;" />
    </div>
</div>

<div ng-show="valid" id="share">
  <section layout="row" layout-sm="row" layout-align="center center">
    <md-button ng-hide="share" ng-click="guardar()" class="md-fab md-primary" aria-label="Check">
      <md-icon md-svg-src="resources/img/icons/check.svg"></md-icon>
    </md-button>
  </section>
</div>

<img ng-src="server/uploads/{{foto.photoUrl}}" width="100%" style="position:relative; z-index: 20;" />

<div ng-show="share" id="share">
  <section layout="row" layout-sm="row" layout-align="center center">
    <md-button ng-click="compartir(post)" class="md-fab facebook" aria-label="Facebook">
      <md-icon md-svg-src="resources/img/icons/facebook.svg"></md-icon>
    </md-button>
  </section>
</div>