<div id="selfie" class="tabsdemoDynamicHeight">
  <md-content class="">
    <md-tabs md-dynamic-height>
      <md-tab label="alexis">
        <md-content class="md-padding">
          <ul class="opcion-list">
            <li>
              <a ng-click="go('/selfie/alexis')">
                <img src="resources/img/pharse_alexis.svg" alt="" />
              </a>
            </li>
          </ul>
        </md-content>
      </md-tab>
      <md-tab label="el rey">
        <md-content class="md-padding">
          <ul class="opcion-list">
            <li>
              <a ng-click="go('/selfie/el-rey')">
                <img src="resources/img/pharse_vidal.svg" alt="" />
              </a>
            </li>
          </ul>
        </md-content>
      </md-tab>
      <md-tab label="el pitbull">
        <md-content class="md-padding">
          <ul class="opcion-list">
            <li>
              <a ng-click="go('/selfie/el-pitbull')">
                <img src="resources/img/pharse_gary.svg" alt="" />
              </a>
            </li>
          </ul>
        </md-content>
      </md-tab>
    </md-tabs>
  </md-content>
</div>