<div layout="row" layout-wrap layout-align="" class="md-padding">
  <div flex="80">
    <h3 class="md-headline">Elige tu <a href="">Camino</a> y desarrolla tus habilidades, pasea por <a href="">Todos los Cursos</a> o aprende más de los <a href="">Primeros Pasos</a> en Kimen.</h3>
    <ng-md-icon icon="share" style="fill: #585A5B" size="24"></ng-md-icon>
    <md-button class="md-primary" style="top: 12px;" ng-href="#{{'/caminos'}}">Caminos</md-button>

    <ng-md-icon icon="list" style="fill: #585A5B" size="24"></ng-md-icon>
    <md-button ng-disabled="true" style="top: -8px;" class="md-raised md-primary">Todos los Cursos</md-button>
  </div>

  <div class="todosLosCursos" flex="100">
    <md-grid-list md-cols-sm="1" md-cols-md="1" md-cols-gt-md="4" md-row-height-gt-md="7:2" md-row-height="4:3" md-gutter="8px" md-gutter-gt-sm="30px">
      <md-grid-tile md-rowspan="2" md-colspan="2" md-colspan-sm="2">
        <ng-md-icon class="md-whiteframe-z1 course-icon" icon="functions" style="fill: white" size="64"></ng-md-icon>
        <md-grid-tile-footer layout-align="center center">
          <p class="md-body-2">Curso Gratis</p>
          <h4 class="md-headline">Productos Notables</h4>
          <p class="md-body-1">En este curso de Física Clásica se trataran los temas.</p>
          <md-button class="md-fab md-primary" aria-label="Reproducir Curso" ng-href="#{{'/curso/algebra-avanzada'}}">
            <ng-md-icon class="icon-play" icon="play_arrow" style="fill: #E6E8F5" size="32"></ng-md-icon>
          </md-button>
        </md-grid-tile-footer>
      </md-grid-tile>
      <md-grid-tile md-rowspan="2" md-colspan="2" md-colspan-sm="2">
        <ng-md-icon class="md-whiteframe-z1 course-icon" icon="grain" style="fill: white" size="64"></ng-md-icon>
        <md-grid-tile-footer>
          <p class="md-body-2">Curso</p>
          <h4 class="md-headline">Razones y Proporciones</h4>
          <p class="md-body-1">En este curso de Física Clásica se trataran los temas de unidades de medida.</p>
        </md-grid-tile-footer>
      </md-grid-tile>
      <md-grid-tile md-rowspan="2" md-colspan="2" md-colspan-sm="2">
        <ng-md-icon class="md-whiteframe-z1 course-icon" icon="layers_clear" style="fill: white" size="64"></ng-md-icon>
        <md-grid-tile-footer>
          <p class="md-body-2">Curso</p>
          <h4 class="md-headline">Porcentajes</h4>
          <p class="md-body-1">Medida y conversiones, dinámica y equilibrio estático, trabajo y energía.</p>
        </md-grid-tile-footer>
      </md-grid-tile>
      <md-grid-tile md-rowspan="2" md-colspan="2" md-colspan-sm="2">
        <ng-md-icon class="md-whiteframe-z1 course-icon" icon="layers_clear" style="fill: white" size="64"></ng-md-icon>
        <md-grid-tile-footer>
          <p class="md-body-2">Curso</p>
          <h4 class="md-headline">Interes Simple</h4>
          <p class="md-body-1">Medida y conversiones, dinámica y equilibrio estático, trabajo y energía.</p>
        </md-grid-tile-footer>
      </md-grid-tile>
      <md-grid-tile md-rowspan="2" md-colspan="2" md-colspan-sm="2">
        <ng-md-icon class="md-whiteframe-z1 course-icon" icon="layers_clear" style="fill: white" size="64"></ng-md-icon>
        <md-grid-tile-footer>
          <p class="md-body-2">Curso</p>
          <h4 class="md-headline">Interés Compuesto</h4>
          <p class="md-body-1">Medida y conversiones, dinámica y equilibrio estático, trabajo y energía.</p>
        </md-grid-tile-footer>
      </md-grid-tile>
      <md-grid-tile md-rowspan="2" md-colspan="2" md-colspan-sm="2">
        <ng-md-icon class="md-whiteframe-z1 course-icon" icon="layers_clear" style="fill: white" size="64"></ng-md-icon>
        <md-grid-tile-footer>
          <p class="md-body-2">Curso</p>
          <h4 class="md-headline">Ecuaciones de Primer Grado</h4>
          <p class="md-body-1">Medida y conversiones, dinámica y equilibrio estático, trabajo y energía.</p>
        </md-grid-tile-footer>
      </md-grid-tile>
      <md-grid-tile md-rowspan="2" md-colspan="2" md-colspan-sm="2">
        <ng-md-icon class="md-whiteframe-z1 course-icon" icon="layers_clear" style="fill: white" size="64"></ng-md-icon>
        <md-grid-tile-footer>
          <p class="md-body-2">Curso</p>
          <h4 class="md-headline">Problemas de Planteo</h4>
          <p class="md-body-1">Medida y conversiones, dinámica y equilibrio estático, trabajo y energía.</p>
        </md-grid-tile-footer>
      </md-grid-tile>
    </md-grid-list>
  </div>
</div>


  